@font-face {
  font-family: "iconfont"; /* Project id 5120750 */
  src: url('iconfont.woff2?t=1769859520651') format('woff2'),
       url('iconfont.woff?t=1769859520651') format('woff'),
       url('iconfont.ttf?t=1769859520651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin1:before {
  content: "\e8ab";
}

.icon-31zhuanfa:before {
  content: "\e600";
}

.icon-lingdang:before {
  content: "\e601";
}

.icon-liuyan:before {
  content: "\e602";
}

.icon-wujiaoxing:before {
  content: "\e614";
}

.icon--xiangshangjiantou:before {
  content: "\e6cb";
}

.icon-mulu:before {
  content: "\e62f";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-shouye:before {
  content: "\e731";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-checkbox-plus:before {
  content: "\ea6e";
}

.icon-wodedefuben:before {
  content: "\e604";
}

